.priceNshit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.priceNshit h4 {
  font-size: 1.8rem;
}

.priceNshit span {
  border: 1px solid gray;
  line-height: .8rem;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  border-radius: 3rem;
  text-align: center;
}

.priceNshit span div {
  font-size: .7rem;
}

.priceNshit .ready {
  background: #87c143;
  color: #0c235e;
  border: none;
}

.comprarBtn {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #87c143;
  color: white;
  border-radius: 3rem;
  margin-top: 3rem;
}

.countdown {
  font-size: 4.55rem;
  line-height: 5.2rem;
  text-align: center;
}

.price {
  font-size: 4.5rem;
  line-height: 5.2rem;
  text-align: center;
}

.stickyx {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}

.smllBtn {
  padding: .5rem 2rem;
}

.imgOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background-color: white;
  margin: .5rem;
  position: relative;
  cursor: pointer;
}

.imgOption img {
  width: 100%;
}

.imgOption .check {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 45px;
}

.optArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.toks {
  z-index: 3;
}

.toks h3, .toks h4 {
  text-align: center;
}

.app-screen-one__carousel:after {
  content: url(../images/click.png);
  position: absolute;
  bottom: 150px;
  right: 40%;
  height: 113px;
  width: 113px;
  z-index: 1000;
}

.timenshit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0rem;
  color: #87c143;
}

.timenshit .fecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  line-height: 1rem;
}

.timenshit .fecha div {
  font-size: .8rem;
}

.timenshit .falta {
  line-height: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timenshit .falta div {
  font-size: .8rem;
}

.blog-one__title {
  text-align: center;
  font-size: 1.8rem;
}

.blog-one__image {
  margin-bottom: 10px;
}

.blog-one__text {
  line-height: 1.3rem;
}

.blog-one__content {
  padding: 0rem 1rem;
}

.roomProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roomProduct i {
  color: white;
  font-size: 1.5rem;
}

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexCol i {
  margin-right: .5rem;
}
/*# sourceMappingURL=monoestereo.css.map */